@import "./../../../scss/abstracts//variable/variable";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";

.blokPerson{
	@include flex-a-j-d(center,center,column);
	*:last-child{
		margin-bottom: 25px;
	}
	position: relative;
	text-align: center;
}

.image{
	margin: 0 auto 20px auto;
}

.like{
	@include size(31px,27px);
	position:absolute;
	top:-20px;
	right:0;
	background:url("./../../../assets/images/person/like.svg") no-repeat center/cover;
}

.name{
	display: block;
	margin-bottom: 7px;
	@include font(18px,1.2,500);
	font-style: normal;
}

.nameWork{
	display: block;
	margin-bottom: 7px;
	@include font(14px,1.3);
}

.link{
	@include font(14px,1.4,500,$colorLink);
}