@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/elements/elements";
@import './../../../scss/abstracts/mixins/mixins';
.container{
	@extend %container;
}

.wrapper{
	@include flex-a-j(center,space-between);
	height: 60px;
}

.cite{
	@include font(14px,17px,false,$colorLink);
}

.inner{
	display: flex;
	align-items: center;
}

.phone{
	display: flex;
	align-items: center;
	margin-left: 45px;
}

.phone span{
	display: none;
	@include font(18px,17px,false,$colorSpan);
}

.phoneLink{
	display: none;
	@include font(14px,17px,false,$color);
}

@include media(min,sm){
	.phone{
		display: flex;
		margin-left: 38px;
	}

	.phone span{
		display: flex;
	}

	.cite{
		display: none;
	}

	.phoneLink{
		display: block;
	}
}
@include media(min,md){
	.wrapper{
		height: 100px;
	}
	
	.logo{
		@include size(130px,25px);
	}
}
