@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/elements/elements";


.Photos{
	margin: 40px 0 60px 0;
}

.container{
	@extend %container;
	text-align: center;
}

.title{
	max-width: 230px;
	margin: 0 auto 30px auto;
	@include font(26px,32px);
	text-align: center;
}
.grid{
	display: grid;
	grid-template-columns:repeat(8,280px);
	grid-template-rows: 186px;
	column-gap: 5px;
	overflow-x: auto;
}

.link{
	display: none;
	position: relative;
	margin-top: 45px;
	@include font(17px,1.2,500,$colorLink);
}

.link::after{
	content:'';
	@include size(11px,6px);
	position:absolute;
	top:60%;
	left:-25px;
	transform: translateY(-50%);
	background:url('./../../../assets/images/photos/icon.png') no-repeat center/cover;
}

.link::before{
	content:'';
	@include size(11px,6px);
	position:absolute;
	top:60%;
	right:-25px;
	transform: translateY(-50%);
	background:url('./../../../assets/images/photos/icon.png') no-repeat center/cover;
}

@include media(min,md){
	.grid{	
		grid-template-columns:repeat(2,280px) ;
		justify-content: center;
		gap: 8px;
	}
	.link{
		display: inline-block;
	}
}

@include media(min,xl){
	.grid{
		grid-template-columns:repeat(4,280px) ;
	}

}
