@mixin size($w,$h:$w) {
	width: $w;
	height: $h;
}

//-----------mixins flex-----------//

@mixin flex-a-j($alignItems,$justifyContent){
	display: flex;
	align-items: $alignItems;
	justify-content: $justifyContent;
}

@mixin flex-a-j-d($alignItems,$justifyContent,$direction){
	display: flex;
	align-items: $alignItems;
	justify-content: $justifyContent;
	flex-direction:$direction;
}

//---------------------------------//

@mixin center($position) {
	position: absolute;
	
	@if $position == 'x' {
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
	@else if $position == 'y' {
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  transform: translate(-50%);
	}
	@else if $position == 'xy' {
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}
 }
 
//--------------text----------------//

@mixin blurText($value,$color) {
	color: transparent;
	text-shadow: 0 0 $value $color;
}

@mixin font($size:false,$lh:false,$weight:false,$colour:false) {
	@if $size { font-size: $size; }
	@if $lh { line-height: $lh; }
	@if $weight { font-weight: $weight, }
	@if $colour { color: $colour; }
 }

//----------------media------------------//
 @mixin media($size) {
	//settings-variable!!!
	$Breakpoint1: "#{$pointTarget}(#{$point}-width: #{$BrPoint1}px)";
	$Breakpoint2: "#{$pointTarget}(#{$point}-width: #{$BrPoint2}px)";
	$Breakpoint3: "#{$pointTarget}(#{$point}-width: #{$BrPoint3}px)";
	$Breakpoint4: "#{$pointTarget}(#{$point}-width: #{$BrPoint4}px)";
	$Breakpoint5: "#{$pointTarget}(#{$point}-width: #{$BrPoint5}px)";
	$Breakpoint6: "#{$pointTarget}(#{$point}-width: #{$BrPoint6}px)";
	@if $size == $BrPoint1 {
	  @media #{$Breakpoint1} {
		@content;
	  }
	}

	@else if $size == $BrPoint2 {
	  @media #{$Breakpoint2} {
		@content;
	  }
	}

	@else if $size == $BrPoint3 {
	  @media #{$Breakpoint3} {
		@content;
	  }
	}

	@else if $size == $BrPoint4 {
		@media #{$Breakpoint4} {
			@content;
		}
	 }

	 @else if $size == $BrPoint5 {
		@media #{$Breakpoint5} {
			@content;
		}
	}
	@else if $size == $BrPoint6 {
		@media #{$Breakpoint6} {
			@content;
		}
	}
 }



