.blockSlider{
	margin-bottom: 20px;
}
.blockSlider .swiper-container .swiper-wrapper{
	margin: 0 auto;
}
.blockSlider .swiper-container{
	overflow-y: visible;
	height: 180px;
}
.blockSlider .swiper-container .swiper-pagination .swiper-pagination-bullet{
	background-color: #fc9b09;
}

.blockSlider .swiper-container .swiper-pagination {
	position:absolute;
	bottom:20px;
	left:0;
}

.blockSlider .swiper-container .swiper-button-prev{
	--swiper-navigation-size:20px;
	color: #d36e6e;
	top: 30px;
	left: 31px;
}

.blockSlider .swiper-container .swiper-button-next{
	--swiper-navigation-size:20px;
	color: #d36e6e;
	top: 30px;
	right: 23px;
}