@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/elements/elements";

.Comment{
	margin-bottom: 30px;
	padding-bottom: 40px;
	border-bottom: 1px solid #C7C7C7;
}

.column{
	@include flex-a-j-d(flex-start,flex-start,column);
	margin-bottom: 30px;
}

.wrapper{
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}

.img{
	@include size(84px);
}

.text{
	margin-bottom: 15px;
	@include font(16px,1.4);
}

.date{
	@include font(14px,1.3,false,$colorSpan);
}

.textSpan{
	position: relative;
	padding-left: 20px;
	@include font(14px,1.3,false,$colorSpan);
}

.textSpan::before{
	content:'';
	@include size(15px,12px);

	position:absolute;
	top:50%;
	left:0;
	transform: translateY(-50%);

	background:url("./../../../assets/images/reviews/icon.svg") no-repeat center/cover;
}

@include media(min,$md){
	.column{
		@include flex-a-j-d(flex-end,flex-start,row);
	}
	
	.wrapper{
		margin-bottom: 0;
		min-width: 245px;
	}
	
	.date{
		display: block;
		width: calc(100% - 94px);
		margin-left: auto
	}
	
	.text{
		width: calc(100% - 94px);
		margin-left: auto
	}
}

