@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/elements/elements";
.home{
	min-height: 655px;
	margin-bottom: 40px;
	background:url("#{$way-img}/home/img1.jpg") no-repeat -412px center /cover;
}

.container{
	@extend %container;
}


.wrapper{
	padding: 155px 0 145px 0;
	@include flex-a-j-d(flex-start,center,column);
	*:last-child{
		margin-bottom: 0;
	}
}	

.text{
	max-width: 245px;
	@include font(35px,1,700,#fff);
	letter-spacing: 1.6px;
	margin-bottom: 35px;
}
.text span{
	color:$colorMain;
	letter-spacing: 2.9px;
}

.blockPrice{
	display: flex;
	@include size(200px,77px);
	padding: 8px 0 18px 10px;
	margin-bottom: 25px;
	
	@extend %pos-rel;

	background:$colorMain;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition:background 500ms ease;
}

.blockPrice:hover{
	background:lighten($colorMain,10%);
}

.blockPrice::before{
	content:'';
	@include size(20px);

	position:absolute;
	bottom:-7px;
	left:55%;
	transform: rotate(45deg);
	
	background-color:$colorMain;
	transition: background 500ms ease;
}

.blockPrice:hover::before{
	background:lighten($colorMain,10%);
}


.Price span{
	display: block;
	transition: color 500ms ;
}
.Price span:nth-child(1){
	@include font(18px,1.5,false,#fff);
	letter-spacing: 2.4px;
}
.Price span:nth-child(2){
	@include font(30px,1.2,800,#fff);
	letter-spacing: 1.2px;
}
.blockPrice:hover .Price span{
	color: #000;
}

.icon{
	width: 70px;
	height: 75px;
}

.button{
	@include size(275px,70px);

	@include font(16px,1.2,900,#fff);
	letter-spacing: 2.2px;
	text-shadow: 0 0 2px #000;
	text-align: center;

	border: 3px solid #FFF;
	background-color:transparent;
	border-radius: 7px;
	transition: border 500ms ease, color 500ms ease , text-shadow 500ms ease;
}



.button:hover{
	border: 1px solid $colorMain;
	color:$colorMain;
}

@include media(min,sm){
	.text{
		margin-bottom: 33px;
		line-height: 1.1;
	}
	.home{
		background:url("#{$way-img}/home/img1.jpg") no-repeat -253px center /cover;
	}
}

@include media(min,md){
	.wrapper{
		padding: 285px 0 260px 0;
	}
	.blockPrice{
		display: flex;
		@include size(225px,86px);
		padding: 8px 0 18px 20px;
		margin-bottom: 18px;
	}
	.Price span:nth-child(1){
		@include font(19px,1.5,false,#fff);
		letter-spacing: 2.6px;
	}
	.Price span:nth-child(2){
		@include font(35px,1.2,800,#fff);
		letter-spacing: 1.5px;
	}
	.icon{
		width: 81px;
		height: 85px;
		transform: translate(-9px,-6px);
	}
	.home{
		background:url("#{$way-img}/home/img1.jpg") no-repeat center center /cover;
	}
	
	.text{
		margin-bottom: 25px;
		max-width: none;
		@include font(40px,1.2,700);
	}
	.button{
		@include size(305px,70px);
		@include font(18px,1.2,900,#fff);
	}

}
