@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/elements/elements";
@import "./../../../scss/abstracts/mixins/mixins";

.container{
	@extend %container;
}
.title{
	margin: 25px 0 15px 0;
	@include font(28px,1.2);
	text-align: center;
}
.img{
	margin-bottom: 25px;
	@include size(100%);
}
.text{
	@include font(18px,1.2);
	margin-bottom: 15px;
}