@import "./../../../scss/abstracts/variable/variable";
@import "./../../../scss/abstracts/mixins/mixins";
@import "./../../../scss/abstracts/elements/elements";

.footer{
	padding-bottom: 20px;
}

.container{
	@extend %container;
}

.footerTop{
	margin-bottom: 42px;
	height: 40px;
	@include flex-a-j(center,space-between);
	border-bottom: 1px solid $colorSpan;
}

.logo{
	width: 85px;
	height: 15px;
}

.list{
	display: flex;
	align-items: center;
}

.item:not(:last-child){
	margin-right: 30px;
}


.footerBottom{
	position: relative;
	*:last-child{
		margin-bottom: 0;
	}
}

.iconsBottom{
	margin-bottom: 24px;
}

.information{
	*:last-child{
		margin-bottom: 0;
	}
}

.text{
	display: block;
	margin-bottom:7px;
	@include font(17px,1.2,false,$colorSpan);
	text-align: center;
}

.language{
	@include font(15px,18px);
	position:absolute;
	top:0;
	right:0;
}



@include media(min,sm){
	
	.language{
		top:50%;
		transform: translateY(-50%);
	}

	.footerTop{
		border-bottom: none;
	}
	.footerBottom{
		display: flex;
		align-items: center;
	}
	
	.iconsBottom{
		margin: 0 40px 0 0;
	}
}
@include media(min,md){
	.iconsBottom{
		margin: 0 108px 0 0;
	}
}
@include media(min,xl){
	.iconsBottom{
		margin: 0 276px 0 0;
	}
}
