@import "./../../../../scss/abstracts/variable/variable";
@import "./../../../../scss//abstracts/elements/elements";
@import "./../../../../scss/abstracts/mixins/mixins";

.number{
	@include flex-a-j(center,center);
	@include size(66px);
	margin: 0 auto 10px auto;

	@include font(30px,fale,700,#fff);
	background-color: $colorMain;
	border-radius: 50%;
}
.wrapper{}

.text{
	display: block;
	margin-bottom: 10px;
	@include font(16px,1.3,500);
	text-align: center;
}

.textTwo{
	display: block;
	@include font(14px,1.3);
	text-align: center;
}
